/* mixins styling */
.button_link {
  background-color: #5e889b;
  width: 230px;
  height: 70px;
  border: none;
  border-radius: 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.button_link a {
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #ecf0f5;
}

/* will be adding something in JS later to make the scroll more smooth when button is clicked */
.button_link:hover {
  background-color: #96dcd7;
  cursor: pointer;
}

.hidden {
  display: none;
}

#about_anchor {
  display: none;
  position: absolute;
  top: 10vh;
}

.fa {
  background: #ecf0f5;
  color: #96dcd7;
  margin: 20px;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  text-decoration: none;
  font-size: 2vw !important;
  line-height: inherit;
}

/* main page styling */
body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  background-color: #ecf0f5;
  margin: 0;
  border: 0;
  max-width: 100%;
}

/* font families */
@font-face {
  font-family: 'MOON GET!';
  src: url("../fonts/moon_get-Heavy.eot");
  src: url("../fonts/moon_get-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/moon_get-Heavy.woff2") format("woff2"), url("../fonts/moon_get-Heavy.woff") format("woff"), url("../fonts/moon_get-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* sticky top navigation bar styling */
#mainNav {
  height: 10vh;
  width: 100%;
  background-color: #ecf0f5;
  text-align: center;
  text-decoration: none;
  margin: 0;
  z-index: 99;
}

.sticky {
  position: fixed;
  top: 0;
  margin: 0;
  width: 100%;
}

.nav_bar {
  background-color: #ecf0f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav_bar .nav_link {
  text-align: center;
  vertical-align: middle;
  width: 25%;
  height: 100%;
}

.nav_bar a {
  padding-top: 50%;
  color: #ecf0f5;
  text-decoration: none;
  font-weight: 500;
  font-size: 4vh;
  line-height: 10vh;
}

.nav_bar :nth-child(2) {
  background-color: #96dcd7;
}

.nav_bar :nth-child(3) {
  background-color: #5e889b;
}

.nav_bar :nth-child(4) {
  background-color: #e6a0bd;
}

#logo {
  height: 100%;
}

.logo_image {
  display: inline-block;
  margin: auto;
  height: 80%;
}

/* landing box styling */
.landing {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#left {
  margin: 100px;
  height: 100%;
  width: 50%;
}

#right {
  background: url("../images/cloudy_background.png");
  background-attachment: fixed;
  height: 100%;
  width: 50%;
}

.intro_text {
  letter-spacing: 5px;
  padding-top: 75px;
  width: 70%;
  line-height: 1.5em;
  font-family: "MOON GET!", sans-serif;
  font-size: 80px;
  color: #5e889b;
  margin-bottom: 40px;
}

/* about section styling */
.about {
  top: 20vh;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: static;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #96dcd7;
  padding-bottom: 10vh;
}

#header_box {
  width: inherit;
  height: 50%;
  margin: 0;
  background: url("../images/cloudy_background.png");
  background-attachment: fixed;
}

#header_box .name {
  font-family: "MOON GET!", sans-serif;
  font-size: 150px;
  color: #ecf0f5;
  text-align: center;
}

#bubbles_container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50%;
}

#bubbles_container .bubble {
  margin: 2%;
  border-radius: 230px;
  display: inline-block;
  background-color: #e6a0bd;
  height: 10vw;
  width: 10vw;
  border-radius: 10vw;
}

#bubbles_container .bubble p {
  margin-top: 45%;
  color: #ecf0f5;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 1vw;
  text-align: center;
  position: relative;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#bubbles_container .bubble .scrolled_font {
  height: 100%;
  width: 100%;
  font-size: 2vw;
}

#bubbles_container .bubble_scrolled {
  height: 20%;
  width: 20%;
  border-radius: 20%;
}

#information_container {
  width: 40%;
  text-align: center;
}

#information_container .subtitle {
  color: #4b6d87;
  font-weight: 700;
  letter-spacing: 1.5px;
}

#information_container .information {
  color: #4b6d87;
  font-weight: 400;
  line-height: 2;
}

#information_container button {
  margin-top: 40px;
  background-color: #e6a0bd;
  color: #ecf0f5;
  font-size: 20px;
  font-weight: 500;
}

#information_container button:hover {
  background-color: #5e889b;
}

/* works section styling */
.works {
  margin-top: 0;
  height: auto;
  width: 100%;
  background-color: #5e889b;
  text-align: center;
}

.carousel {
  display: block;
  text-align: center;
  margin: 0;
  width: 100%;
  height: 20%;
}

.carousel .work_img {
  margin: 0;
  height: 20vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.carousel .thumb {
  text-align: center;
  display: block;
  opacity: 0.7;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.carousel .thumb:hover {
  opacity: 1;
}

/* contact page styling */
.contact {
  width: 100%;
  height: 100vh;
  background-color: #e6a0bd;
}

.contact #contact_container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact #contact_container .contact_column {
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 0;
  width: 50%;
  height: 100%;
  background-color: #e6a0bd;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.contact #contact_container #contact_form {
  text-align: center;
  width: 75%;
  height: 50%;
  background-color: #4b6d87;
}

.contact #contact_container .socials_description {
  padding-top: 50%;
  color: #ecf0f5;
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}

.contact #contact_container #socials_container {
  margin: auto;
  margin-top: 0;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact #contact_container .social_link:hover {
  background-color: #96dcd7;
}

/* footer styling */
footer {
  background: url("../images/cloudy_background.png");
  background-attachment: fixed;
  width: 100%;
  color: #ecf0f5;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 2vh;
}

.lightbox {
  display: none;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 99;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  margin-left: 0;
  color: white;
}

.lightbox .lb-close {
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-left: 80%;
}

.lightbox .image-viewer {
  width: 90%;
  margin: auto;
  height: 100%;
}

.lightbox img {
  position: relative;
  width: 100%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 40px;
}

.lightbox .video-player {
  width: 90%;
  margin: auto;
  height: 100%;
}

.lightbox video {
  position: relative;
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
  z-index: 100;
}

.lightbox .work_info {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  margin: auto;
  height: auto;
  width: 40%;
  display: inline-block;
  opacity: 0;
  left: 30%;
  top: 30%;
  border-radius: 40px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.lightbox .work_info .work_title {
  padding-top: 10%;
  width: 80%;
  margin: auto;
  margin-bottom: 4%;
  font-size: 2vw;
}

.lightbox .work_info .work_description {
  width: 80%;
  margin: auto;
  line-height: 3vh;
}

.lightbox .work_info .work_date {
  font-size: 1.2vw;
  padding-bottom: 10%;
}
/*# sourceMappingURL=master.css.map */