/* about section styling */

.about {
    top:20vh;
    height:auto;
    width:100%;
    display:flex;
    position:static;
    flex-direction:column;
    align-content:center;
    justify-items:center;
    align-items:center;
    background-color:$accent-turquoise;
    padding-bottom:10vh;
}

#header_box {
    width:inherit;
    height:50%;
    margin:0;
    background-color:lightgray;

    .name {
        font-family:$accent-font;
        font-size:150px;
        color:$main-bg-color;
        text-align:center;
    }
}

#bubbles_container {
    display:inline-flex;
    flex-direction:row;
    justify-content:center;
    justify-items:center;
    align-content:center;
    align-items:center;
    width:100%;
    height:50%;

    .bubble {
        margin:100px;
        border-radius:230px;
        display:inline-block;
        background-color:$main-bg-color;
        height:230px;
        width:230px;

        p {
            margin-top:45%;
            color:$accent-teal;
            font-family:$main-font;
            font-weight:600;
            font-size:24px;
            text-align:center;
            position:relative;
            height:100%;
            width:100%;
        }
    }
    
    .bigger  {
        height:300px;
        width:300px;
        border-radius:300px;
    }
}

#information_container {
    width:100%;
    text-align:center;
    
    .subtitle {
        color:$accent-darkteal;
        font-weight:700;
        letter-spacing:1.5px;
    }

    .information {
        color:$accent-darkteal;
        font-weight:400;
        line-height:2;  
    }
    button {
        margin-top:40px;
        background-color:$accent-pink;
        color:$main-bg-color;
        font-size:20px;
        font-weight:500;
    }

    button:hover {
        background-color:$accent-teal;
    }
}