/* footer styling */

footer {
    background:url('../images/cloudy_background.png');
    background-attachment:fixed;
    width:100%;
    color:$main-bg-color;
    text-align:center;
    padding-top:10vh;
    padding-bottom:2vh;
}