/* landing box styling */

.landing {
    height:100vh;
    width:100%;
    display:flex;
    flex-direction:row;
}

#left {
    margin:100px;
    height:100%;
    width:50%
}

#right {
    background:url('../images/cloudy_background.png');
    background-attachment:fixed;
    height:100%;
    width:50%;
}

.intro_text {
    letter-spacing:5px;
    padding-top:75px;
    width:70%;
    line-height:1.5em;
    font-family: $accent-font;
    font-size:80px;
    color:$accent-teal;
    margin-bottom:40px;
}
