/* main page styling */

body {
    font-family: $main-font;
    font-size: $main-font-size;
    background-color: $main-bg-color;
    margin: 0; 
    border: 0;
    max-width:100%;
}

/* font families */

@font-face {
    font-family: 'MOON GET!';
    src: url('../fonts/moon_get-Heavy.eot');
    src: url('../fonts/moon_get-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/moon_get-Heavy.woff2') format('woff2'),
        url('../fonts/moon_get-Heavy.woff') format('woff'),
        url('../fonts/moon_get-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

