/* mixins styling */

.button_link {
    background-color:$accent-teal;
    width:230px;
    height:70px;
    border:none;
    border-radius:10px;
    transition:0.2s ease;
    a {
        text-decoration:none;
        font-family:$main-font;
        font-weight: 500;
        font-size:24px;
        color:$main-bg-color;
    }
}

/* will be adding something in JS later to make the scroll more smooth when button is clicked */

.button_link:hover {
    background-color:$accent-turquoise;
    cursor:pointer;
}

.hidden {
    display:none;
}

#about_anchor {
    display:none;
    position:absolute;
    top:10vh;
}

.fa {
    background: $main-bg-color;
    color:$accent-turquoise;
    margin:20px;
    width:100px;
    height:100px;
    border-radius:100px;
    transition:0.4s ease;
    text-decoration:none;
    font-size:2vw !important;
    line-height:inherit;
  }
