/* mixins styling */

.button_link {
    background-color:$accent-teal;
    width:230px;
    height:70px;
    border:none;
    border-radius:10px;
    transition:0.2s ease;
    a {
        text-decoration:none;
        font-family:$main-font;
        font-weight: 500;
        font-size:24px;
        color:$main-bg-color;
    }
}

/* will be adding something in JS later to make the scroll more smooth when button is clicked */

.button_link:hover {
    background-color:$accent-turquoise;
    cursor:pointer;
}