$main-text-color: #5e889b;
$main-bg-color: #ecf0f5;

$accent-turquoise: #96dcd7;
$accent-pink: #e6a0bd;
$accent-teal: #5e889b;
$accent-darkteal: #4b6d87;
$accent-font: 'MOON GET!', sans-serif;
$main-font: 'Work Sans', sans-serif;
$main-font-size: 16px;
