/* works section styling */

.works {
    height:auto;
    width:100vw;
    background-color:$accent-teal;
    padding-top:20px;
    padding-bottom:40px;
}

#works_container {
    padding-top:60px;
    padding-bottom:100px;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
}

.line {
    width:100%;
    display:flex;
    flex-direction:space-around;
    align-items:center;
    justify-content:center;
    justify-items:center;
    align-content:center;
    margin-top:80px;

    .work {
        text-align:center;
        margin-left:60px;
        margin-right:60px;
        width:25%;
        height:50%;
        color:$main-bg-color;
    }

    .thumbnail {
        width:100%;
        height:350px;
        background-color:$main-bg-color;
        border-radius:15px;
    }

    h4 {
        font-weight:500;
        font-size:20px;
        text-align:left;
        margin-bottom:10px;
    }

    h5 {
        font-weight:500;
        font-size:18px;
        text-align:left;
        margin:0;
    }
}